{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block title %}
ثبت نام
{% endblock title %}

{% block links %}
{% endblock links %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}
    {{form|crispy}}
    <p>
        <input type="submit" class="btn btn-outline-primary px-3 pb-2" value="ثبت نام">
    </p>
    <p>
        <a class="btn btn-success px-3 pb-2" href="{% url 'login' %}">برو به صفحه ورود</a>
        <a class="btn btn-secondary px-3 pb-2" href="{% url 'home' %}">بازگشت به خانه</a>
    </p>
</form>
{% endblock content %}