{% extends "_base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
جزییات {{ book.title }}
{% endblock title %}

{% block links %}
{% endblock links %}


{% block content %}
<div class="d-flex justify-content-center">
    <div class="row w-sm-75 w-100">
        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
            <div>
                {% if book.cover %}
                <img src="{{ book.cover.url }}"
                class="img-fluid rounded-start" alt="عکس جلد کتاب">
                {% else %}
                <img src="{% static 'icons/book.png' %}"
                class="img-fluid rounded-start" alt="عکس جلد کتاب">
                {% endif %}
            </div>
        </div>
        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
            <h1> {{ book.title }} </h1>
            <h5 class="small my-1"><span class="text-muted">نویسنده: </span>{{ book.author }}</h5>
            {% if book.translator %}
                <h5 class="small my-1"><span class="text-muted">مترجم: </span>{{ book.translator }}</h5>
            {% endif %}
            {% if book.publisher %}
                <h5 class="small my-1"><span class="text-muted">انتشارات: </span>{{ book.publisher }}</h5>
            {% endif %}
            {% if book.year_published %}
                <h5 class="small my-1"><span class="text-muted">سال انتشار: </span>{{ book.year_published }}</h5>
            {% endif %}
            {% if book.number_of_pages %}
                <h5 class="small my-1"><span class="text-muted">تعداد صفحات: </span>{{ book.number_of_pages }}</h5>
            {% endif %}
            {% if user == book.user %}
                <div>
                    <a href="{% url 'book_update' book.pk %}" class='btn btn-outline-primary px-3'>ویرایش کتاب</a>
                    <a href="{% url 'book_delete' book.pk %}" class='btn btn-outline-danger px-3'>حذف کتاب</a>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-md-3 d-flex flex-column">
            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                {{ book.price }} $
            </h3>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="my-3 w-sm-75 w-100" style='text-align: justify'>
        {{ book.description }}
    </div>
</div>
<div class="d-flex justify-content-center">
    <div class="card shadow my-3 p-5 w-sm-75 w-100">
        <h2 class="mb-5">نظرات:</h2>
        {% if comments %}
            {% for comment in comments %}
                {% if comment.is_approved %}
                    <div class="border-bottom mb-3">
                        <h5 class="mb-3">
                            {{ comment.user }}
                            {% if comment.is_recommended %}
                                پیشنهاد می شود 👍
                            {% else %}
                                پیشنهاد نمی شود 
                            {% endif %}
                        </h5>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>برای این کتاب هنوز نظری ثبت نشده است. اولین نفر باشید</p>
        {% endif %}
    </div>
</div>

<div class="d-flex justify-content-center">
    <div class="card shadow my-3 p-5 w-sm-75 w-100">
        {% if user.is_authenticated %}
        <h3 id="insert_a_comment">نظر خود را وارد کنید:</h3>
        <form method="POST">
            {% csrf_token %}
            {{ comment_form|crispy }}
            <input type="submit" class="btn btn-primary" value="ارسال">
        </form>
        {% else %}
            <h3>جهت گذاشتن نظر، لطفا ابتدا <a class="text-decoration-none" href="{% url 'login' %}?next={{book.get_absolute_url}}#insert_a_comment">وارد</a> شود.</h3>
        {% endif %}
    </div>
</div>
<div>
</div>
{% if message %}
<script>alert("{{ message }}");</script>
{% elif error %}
<script>alert("{{ error }}");</script>
{% endif %}
{% endblock content %}
