{% extends "_base.html" %}

{% load static %}

{% block title %}
لیست کتاب ها
{% endblock title %}

{% block links %}
{% endblock links %}


{% block content %}
<div class="row flex-row-reverse justify-content-md-center">
    {% for book in books %}
    <div class="card m-2" style="max-width: 45%">
        <div class="row g-0 h-100" dir="rtl">
            <div class="col-md-4">
                {% if book.cover %}
                <img src="{{ book.cover.url }}"
                class="img-fluid rounded-start p-1" alt="...">
                {% else %}
                <img src="{% static 'icons/book.png' %}"
                class="img-fluid rounded-start p-1" alt="...">
                {% endif %}
            </div>
            <div class="col-md-8 h-100">
                <div class="d-flex flex-column justify-content-between h-100">
                    <div class="card-body">
                        {% comment %} <h3 class="card-title"><strong><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></strong></h3> {% endcomment %}
                        <h3 class="card-title"><strong><a class="text-info text-decoration-none" href="{{book.get_absolute_url}}">{{ book.title }}</a></strong></h3>
                        <p class="card-text pt-3">{{ book.description|truncatewords:32 }}</p>
                        <p class="text-muted">نویسنده: {{ book.author }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="mt-5">
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if page_obj.number|add:'-3' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-4' }}">&hellip;</a></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
            {% if page_obj.number == i %}
                <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only"></span></span></li>
            {% elif i > page_obj.number|add:'-4' and i < page_obj.number|add:'4' %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.paginator.num_pages > page_obj.number|add:'3' %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'4' }}">&hellip;</a></li>
        {% endif %}
    </ul>
  </nav>
</div>
{% endblock content %}

{% block footer %}
<footer class="bg-light text-center text-lg-start mt-5">
    <div class="text-center bg-grey">
        <p>دوره آموزشی جنگو <a class="text-info text-decoration-none" href="https://codingyar.com/" target="_blank">کدینگ یار 💙</a></p>
    </div>
</footer>
{% endblock footer %}
