{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    {% block links %}{% endblock links %}
</head>
<body dir="rtl">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info" dir="rtl">
        <div class="container">
            <a class="navbar-brand" href="{% url 'books' %}">
                <img src="{% static 'icons/book.png' %}" alt="لوگو کتاب" height="30"
                     class="d-inline-block align-text-top">
            </a>
            <a class="navbar-brand mx-3" href="{% url 'books' %}">لیست کتاب ها</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">خانه</a>
                    <a class="nav-link active" href="{% url 'book_create' %}">اضافه کردن کتاب</a>
                    {% if user.is_authenticated %}
                        <a class="nav-link active" href="{% url 'my_favorites' %}">لیست علاقه مندی های من🧡</a>
                    {% else %}
                        <a class="nav-link disabled">لیست علاقه مندی های من🧡</a>
                    {% endif %}
                </div>
            </div>
            {% if user.is_authenticated %}
                <div class="text-white">
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <span class="mx-2 text-success">
                            خوش آمدی {{ user }}
                        </span>
                        |
                        <a class="mx-2 text-primary text-decoration-none" href="{% url 'password_change' %}">تغییر رمز عبور</a>
                        |
                        <input type="submit" class="btn btn-link text-danger text-decoration-none" value="خروج">
                    </form>
                </div>
            {% else %}
                <div class="mx-1 text-white">
                    <a href="{% url 'login' %}" class="mx-1 text-success text-decoration-none">ورود</a>
                    |
                    <a href="{% url 'signup' %}" class="mx-1 text-primary text-decoration-none">ثبت نام</a>
                    |
                    <a href="{% url 'password_reset' %}" class="mx-1 text-danger text-decoration-none">فراموشی رمز عبور</a>
                </div>
            {% endif %}
    </nav>
    <div class='container card shadow my-5 py-2'>
    {% block content %}{% endblock content %}
    </div>
    {% block footer %}{% endblock footer %}
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
</body>
</html>
