{% extends "_base.html" %}

{% block title %}
Detail of post {{ post.title }}
{% endblock title %}

{% block content %}
<div class="card shadow my-3 p-5">
    <h1>{{ post.title }}</h1>
    <p class="small text-muted mt-2">By: {{ post.author.first_name }} {{ post.author.last_name }} </p>
    <p class="mt-2">{{ post.text }}</p>
    <p class="mt-2">💙{{ post.likes }}</p>
    <p class="card-subtitle mb-2 text-muted small">created at: {{ post.datetime_created|date:'D d M Y H:m:s' }}</p>
    <p class="card-subtitle mb-2 text-muted small">last edited: {{ post.datetime_modified|date:'D d M Y H:m:s' }}</p>
    <div>
        <a href="{% url 'post_update' post.pk %}" class="btn btn-sm btn-outline-warning p-2 mt-2">Update</a>
        <a href="{% url 'post_delete' post.pk %}" class="btn btn-sm btn-outline-danger p-2 mt-2">Delete</a>
    </div>
</div>

<div class="card shadow my-3 p-5">
    <h3>Comments:</h3>
    {% if comments %}
        {% for comment in comments %}
        {% if comment.commentor %}
            {{ comment.commentor }} نوشته: 
        {% endif %}
        <p>{{ comment.text }}</p>
        {% if comment.email %}
            آدرس ایمیلشم اینه: {{ comment.email }}
        {% endif %}
        <p>تاریخ {{ comment.datetime_created|date:'D d M Y H:m:s' }}</p>
        <hr>
        {% endfor %}
    {% else %}
        No comments yet! Be the first one.
    {% endif %}
</div>

<div class="card shadow my-3 p-5">
    <h3>Add new comment:</h3>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group py-2">
            <label class="py-1" for="author_name">Enter your name:</label>
            <input type="text" class="form-control" name="commentor">
        </div>
        <div class="form-group py-2">
            <label class="py-1" for="email">Your Email:</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group py-2">
            <label class="py-1" for="comment_text">Comment text:</label>
            <textarea required class="form-control" name="text" rows="3" placeholder="Enter your comment text here..."></textarea>
        </div>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
{% endblock content %}