سلام {{ user.username }}،

شخصی (احتمالا خودتان) برای ریست کردن رمز عبور این آدرس ایمیل درخواست دادید

نام دامنه: {{ domain }}
آدرس ایمیل: {{ user.email }}

در صورتی که شما درخواست نداده اید، این ایمیل را نادیده بگیرید، در غیر این صورت، جهت بازیابی رمز عبور روی لینک زیر کلیک کنید

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

اگر نام کاربری خود را فراموش کرده اید، اینه 😊{{ user.username }}

اگر پسورد قبلیتان را فراموش کرده اید، خود ما هم آن را نداریم. فقط میتونیم بگیم هش شده اش اینه 😂
{{ user.password }}

😂اگر نام خود را فراموش کرده اید، شما دیگه نوبرشید: {{ user.first_name }} {{ user.last_name }}

با تشکر از شما جهت استفاده از سایت ما.
موفق باشید.